version: "3.8"

services:
  reverse-proxy:
    image: nginx:alpine
    container_name: wa-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./maps:/var/www/maps:ro
    depends_on:
      - pusher
      - front
      - back
      - maps

  maps:
    image: thecodingmachine/workadventure-maps:latest
    container_name: wa-maps
    volumes:
      - ./maps:/usr/share/nginx/html/maps:ro

  front:
    image: thecodingmachine/workadventure-front:latest
    container_name: wa-front
    environment:
      - WA_BACK_URL=http://back:8080
      - WA_PUSHER_URL=http://pusher:8080
      - WA_MAPS_URL=http://reverse-proxy/maps/
    depends_on:
      - back
      - pusher
      - maps

  back:
    image: thecodingmachine/workadventure-back:latest
    container_name: wa-back

  pusher:
    image: thecodingmachine/workadventure-pusher:latest
    container_name: wa-pusher
